[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

arrow = "*"
"beautifulsoup4" = "*"
bibtexparser = "*"
requests = {extras = ["security"]}
