arrow==0.15.5
beautifulsoup4==4.9.0
bibtexparser==1.1.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
fake-useragent==0.1.11
future==0.18.2
idna==2.9
numpy==1.18.2
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
stem==1.8.0
urllib3==1.25.9
wincertstore==0.2
