# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Lint with flake8
        run: |
          if [ -f requirements-dev.txt ]; then pip3 install -r requirements-dev.txt; fi
          # Stop the build if there are Python syntax errors, undefined names or unused imports etc.
          flake8
          # Do not stop the build, but indicate room for improvement.
          # exit-zero treats all errors as warnings.
          flake8 . --exit-zero --ignore= --select=
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip3 install -r requirements.txt; fi
      #- name: Typilus, Suggest Python Type Annotations
      #  uses: typilus/typilus-action@v0.9
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
      - name: Test with unittest
        env:
          CONNECTION_METHOD: ${{ secrets.CONNECTION_METHOD }}
          PASSWORD: ${{ secrets.PASSWORD }}
          PORT: ${{ secrets.PORT }}
          USERNAME: ${{ secrets.USERNAME }}
          SCRAPER_API_KEY: ${{ secrets.SCRAPER_API_KEY }}
        run: |
          curl --data-binary @.github/.codecov.yml https://codecov.io/validate | head -n 1
          coverage run -m unittest -v test_module.TestScholarly
          coverage xml
      - name: Upload code coverage
        uses: codecov/codecov-action@v2
        with:
          directory: ./
          fail_ci_if_error: true
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          verbose: true
